$styleColor: #FF6E30;
$styleHoverColor: #BC572B;
$styleActiveColor: #CE4307;
$errorForDarkColor: #F06666;
$errorForLightColor: #FF3030;
$colorWhite: #FFFFFF;
$colorThin: #E9E9E9;
$colorLight: #CACACA;
$colorNormal: #999999;
$colorRegular: #4A4A4A;
$colorBold: #202020D9;
$colorBlack: #202020;
$margin1024: 31px;
$margin768: 27px;
$margin320: 21px;
